
            body {
             background: #fcfcfc;
            }
            
            header ul {
                position: fixed;
                bottom: 0px;
                list-style: none;
                font-size: 25px;
                padding: 20px;
                left: 30px;
                font-family:'Roboto',sans-serif;
            }          



            h1 {
                padding: 30px;
                position:fixed; 
                font-family:'Fjalla One','Open Sans', sans-serif;
                font-size: 50px;
                margin: -20px;
                margin-top: 200px;
                margin-left: 15px;
                letter-spacing: 50px;
                line-height: 100px;
                text-transform: uppercase;
                color: black;
            }
            

header ul a li {
            font-size: 20px;
            line-height: 26px;
}
            .about {
            font-weight: 600;
            color: black;
            font-size:25px ;
            letter-spacing: 30px;
            font-family: 'Fjalla One';
            }


                .xian {
                width: 110px;
                position: fixed;
                top:20px;
                left: 50px;
            }
            
            .intro {
                border: solid 5px orangered;
                margin:60px;
                width: 53%;
                float: right;
                padding: 30px;
                margin-right: 150px; 
                margin-top: 52px;
                padding-top: 30px;
                padding-bottom: 30px;
                
            }
            
.contactme {
    float: right;
    position:;
}
            h2 {
                font-family: 'Fjalla One','Francois One',sans-serif;
                font-size: 30px;
                font-weight: 100;
                width: 30%;
                margin-top: 10px;
            }
                
            h3 {
                font-family: 'Roboto',sans-serif;;
                font-weight: 100;
                color: orangered;
            }


.ins {
    width: 28px;
    padding-top: 9px;
}
            .touxiang {
                width: 100%;
                z-index: -99;
                position: relative;
                float: left;
                padding-bottom: 30px;
            }

            section p {
             font-family: 'Roboto',sans-serif;
            width: 50%;
            }      
            

            a {
                text-decoration: none;
                color: orangered;
                font-family: 'Roboto',sans-serif;
            }
            
            a:hover {
                color: black;
                transition: all .5s ease;
            }
            
            a:visited {
                color: orangered;
            }
            
            a:active {
                font-kerning: 2px;
                display:inline;
                font-family:  'Roboto',sans-serif;
            }
            
            footer {
               position:relative;
               margin-top: -60px;/*等于footer的高度*/ height: 30px;
               clear:both;
               text-align: center;
               font-size: 12px;
               padding: 10px;
               color:gray;
            }
            




